@{
    ViewData["Title"] = "Programación IV";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a programación IV</h1>
    <p>Este curso de Programación IV es del primer cuatrimestre de la carrera Analista de Sistema de Información.<br>
     El docente a cargo de dictar este curso es: Emmanuel Senatori.</p>

    <img src="/Imagenes/net.png" style="display:block; margin:0 auto; width:50%; height:auto;">


</div>
